$font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight: 400;
$card-start-bg: #006241;
$card-bg-middle-green: #1e3932;
$card-bg-middle-white: #d4e9e2;
$card-last-bg: #faf6ee;
$letter-hover-effect: #198754;
$button-hover-effect: #dee1e3cc;
